td.mat-cell:last-of-type {
  background-color: none !important;
  text-align: center;
}

th.mat-header-cell:last-of-type {
  text-align: center;
}

.error-icon {
  color: firebrick !important;
  font-size: 30px !important;
}

.operative-icon {
  color: lightgreen;
  font-size: 30px !important;
}
