<div fxLayout="column" fxFill>
  <mat-card fxFlex>
    <mat-card-header>
      <mat-card-title>Visualización
      </mat-card-title>
      <mat-card-subtitle *ngIf="dataSource | async as focus">{{ focus[0].description}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="container">
        <div class="content">
            <ng-container *ngIf="dataSource | async as data; else showError">
              <table mat-table [dataSource]="data[1]" class="elevation-class">
                <ng-container matColumnDef="contaminante">
                  <th mat-header-cell *matHeaderCellDef> Contaminante </th>
                  <td mat-cell *matCellDef="let element">
                    {{element.name}}
                  </td>
                </ng-container>

                <ng-container matColumnDef="value">
                  <th mat-header-cell *matHeaderCellDef> Valor bruto </th>
                  <td mat-cell *matCellDef="let element"> {{element.value | number: '.1-2':'es-419'}} </td>
                </ng-container>

                <ng-container matColumnDef="calibrado">
                  <th mat-header-cell *matHeaderCellDef> Valor Calibrado </th>
                  <td mat-cell *matCellDef="let element"> {{element.calibratedValue | number: '.1-2':'es-419'}} </td>
                </ng-container>

                <ng-container matColumnDef="corregido">
                  <th mat-header-cell *matHeaderCellDef> Valor corregido </th>
                  <td mat-cell *matCellDef="let element">
                    <ng-container *ngIf="element.name != 'O2'">
                      {{element.correctedValue | number: '.1-2':'es-419'}}
                    </ng-container>
                  </td>
                </ng-container>

                <ng-container matColumnDef="validado">
                  <th mat-header-cell *matHeaderCellDef> Valor validado </th>
                  <td mat-cell *matCellDef="let element">
                    <ng-container *ngIf="element.name != 'O2'">
                      {{element.validatedValue | number: '.1-2':'es-419'}}
                    </ng-container>
                  </td>
                </ng-container>

                <ng-container matColumnDef="vle">
                  <th mat-header-cell *matHeaderCellDef> VLE </th>
                  <td mat-cell *matCellDef="let element"> {{element.vle }} </td>
                </ng-container>

                <ng-container matColumnDef="unidad">
                  <th mat-header-cell *matHeaderCellDef> Unidad </th>
                  <td mat-cell *matCellDef="let element"> {{element.unit}} </td>
                </ng-container>

                <ng-container matColumnDef="estado">
                  <th mat-header-cell *matHeaderCellDef> Estado </th>
                  <td mat-cell *matCellDef="let element">
                    <ng-container *ngIf="element && element.samples > 0; else error">
                      <mat-icon class="operative-icon" matTooltip="Operativo" matTooltipPosition="right">check_box
                      </mat-icon>
                    </ng-container>
                    <ng-template #error>
                      <mat-icon class="error-icon" matTooltip="Fallo" matTooltipPosition="right">error</mat-icon>
                    </ng-template>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </ng-container>

            <ng-template #showError>
              <app-display-messages [error]="error | async" (update)="getData()">
              </app-display-messages>
            </ng-template>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>