.select-role {
  margin-top: 5%;
}

.role-list.mat-list-item {
  // color: black !important;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.error-message {
  display: block;
  color: #f44336;
}

.success-msg {
  color: green;
}

.error-msg {
  // margin-left: 10%;
  color: red;
}

.mat-form-field {
  padding-top: 10px;
}

.mat-dialog-actions {
  margin-bottom: 0 !important;
}

.mat-dialog-content {
  min-height: 150px;
}

.actions {
  padding: 8px;
}
