<mat-tab-group dynamicHeight animationDuration="0ms">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>account_circle</mat-icon>
      Usuario
    </ng-template>

    <ng-template matTabContent>
      <div class="container">
        <div class="content">

          <form novalidate [formGroup]="form" (ngSubmit)="onSubmitUser()">
            <mat-form-field color="primary" appearance="outline">
              <mat-label>Nombre usuario</mat-label>
              <input matInput matInput formControlName="name" name="name" required>
              <mat-icon matSuffix>edit</mat-icon>
              <mat-error *ngIf="!form.controls['name'].valid && form.controls['name'].touched">
                {{getUserNameErrorMessage()}}</mat-error>
            </mat-form-field>
            <!-- <mat-action-row> -->
            <button mat-button color="warn" type="button" (click)="deleteUser()">Eliminar</button>
            <button mat-button color="primary" type="submit">Guardar</button>
            <!-- </mat-action-row> -->
          </form>
        </div>
      </div>
    </ng-template>

  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>lock</mat-icon>
      Contraseña
    </ng-template>
    <ng-template matTabContent>
      <div class="container">
        <div class="content">
          <form novalidate [formGroup]="form2" (ngSubmit)="onSubmitPassword()" #passwordForm="ngForm">
            <!-- new password -->
            <mat-form-field color="primary" appearance="outline">
              <mat-label>Contraseña nueva</mat-label>
              <input matInput [type]="_hide ? 'password' : 'text'" type="password" name="newPassword"
                formControlName="newPassword" required>
              <mat-icon matSuffix (click)="_hide = !_hide">{{_hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              <mat-error class="mat-small"
                *ngIf="!form2.controls['newPassword'].valid && form2.controls['newPassword'].touched">
                {{getNewPassswordErrorMessage()}}</mat-error>
              <mat-hint class="mat-small">min 8 carácteres, minúsculas, mayúsculas, números y carácteres especiales
              </mat-hint>
            </mat-form-field>
            <!-- confirm password -->
            <mat-form-field color="primary" appearance="outline">
              <mat-label>Confirmar contraseña</mat-label>
              <input matInput placeholder="Confirmar contraseña" [type]="__hide ? 'password' : 'text'" type="password"
                name="confirmPassword" formControlName="confirmPassword" required>
              <mat-icon matSuffix (click)="__hide = !__hide">{{__hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              <mat-error class="mat-small" *ngIf="form2.controls['confirmPassword'].touched && !equalPasswords()">
                Contraseña no coincide
              </mat-error>
            </mat-form-field>

            <!-- <mat-action-row> -->
            <button mat-button color="primary" type="submit" [disabled]="form2.invalid">Cambiar</button>
            <!-- </mat-action-row> -->
          </form>
        </div>
      </div>
    </ng-template>


  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>assignment</mat-icon>
      Roles
    </ng-template>
    <ng-template matTabContent>
      <div class="container">
        <div class="content">
          <mat-form-field color="primary" appearance="outline">
            <mat-label>Añadir rol</mat-label>
            <mat-select class="custom-select">
              <mat-option *ngFor="let role of roles | async; trackBy: trackByRoleName" [value]="role.name"
                (click)="addRole(role.name)">{{
                role.name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-divider></mat-divider>

          <mat-list *ngFor="let role of data.roleNames; trackBy: trackByRoleName ">
            <h3 mat-subheader>Rol</h3>
            <mat-list-item class="role-list">
              <span>{{ role }}</span>
              <span class="example-spacer"></span>
              <button mat-icon-button (click)="deleteRole(role)">
                <mat-icon mat-list-icon>remove_circle</mat-icon>
              </button>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>