// ::ng-deep snack-bar-container.custom-class {
//   background: #1a237e;
// }

// ::ng-deep .custom-class .mat-simple-snackbar {
//   color: white;
// }

// ::ng-deep .custom-class .mat-simple-snackbar-action {
//   color: white;
// }

#chartdiv {
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 0.53em;
  position: relative !important;
  height: 600px;
  background-color: white;
}

.hidden {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.show {
  position: relative !important;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1850px) {
  #chartdiv {
    height: 600px !important;
  }
}

@media screen and (max-width: 1400px) {
  #chartdiv {
    height: 455px !important;
  }
}
