<div fxLayout="column" fxFill>
  <mat-card fxFlex>
    <mat-card-header>
      <mat-card-title>Gráfico histórico </mat-card-title>
      <mat-card-subtitle *ngIf="!(error$ | async) && header$ | async as header">
        {{header?.description || 'Cargando ...'}}:
        del {{header.init_date | date:'d/M/yyyy' || ' '}}
        al {{header.end_date |  date:'d/M/yyyy' || ' '}}
      </mat-card-subtitle>

      <span class="example-spacer"></span>
      <app-select-chart (makeChart)="requestChartData($event)" (download)="downloadChartData($event)">
      </app-select-chart>
    </mat-card-header>

    <mat-card-content>
      <div class="container">
        <div class="content">
          <ng-template #error [ngIf]="(error$ | async) && !(dataSource$ | async)">
            <app-display-messages [error]="error$ | async" [button]="false"></app-display-messages>
          </ng-template>

          <div id="chartdiv" class="elevation-class"
            [ngClass]="{'hidden': !(dataSource$ | async), 'show': (dataSource$ | async)}"></div>

        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>