.sidenav-container {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  flex: 1;
  box-sizing: border-box;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-header {
  // z-index: 2 !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.viewer-nav {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 25px;
  overflow: hidden;
}

.viewer-nav-content {
  background: rgba(0, 0, 0, 0.03);
  max-height: 75vh;
  overflow: auto;
}



.mat-list-base {
  padding-top: 0 !important;
}

/* Customk Scrollbar */

/* width */

.viewer-nav .viewer-nav-content::-webkit-scrollbar {
  width: 4px;
}

/* Track */

.viewer-nav .viewer-nav-content::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

.viewer-nav .viewer-nav-content::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
