<ng-container>
  <mat-toolbar color="primary" class="example-header mat-elevation-z4">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="sidenav.toggle();"
      [ngStyle]="{'display' : ((screenWidth | async) > 1250) ? 'none' : 'block'}">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <h1> SMEC View </h1>

    <span class="example-spacer"></span>
    <button class="example-icon" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon aria-label="Login">account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false" xPosition="before">
      <button mat-menu-item [disabled]="!this.authService.isLoggedIn()" (click)="viewProfile()">
        <mat-icon>account_box</mat-icon>
        {{ username }}
      </button>
      <button mat-menu-item [disabled]="!this.authService.isLoggedIn()" (click)="logOut()">
        <mat-icon mat-list-icon>exit_to_app</mat-icon>
        Cerrar sesión
      </button>
      <app-mock-error></app-mock-error>
    </mat-menu>
  </mat-toolbar>


  <mat-sidenav-container class="sidenav-container" autosize>
    <mat-sidenav #sidenav [opened]="(screenWidth | async) > 1250"
      [mode]="((screenWidth | async) > 1250) ? 'side' : 'over'" class="example-sidenav mat-elevation-z4"
      [fixedInViewport]="false" [fixedTopGap]="0" [fixedBottomGap]="0">
      <div class="viewer-nav">
        <div class="viewer-nav-content">
          <app-nav-list [screenWidth]="(screenWidth | async)" (close)="sidenav.close()"></app-nav-list>
        </div>

      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</ng-container>