.selection-container {
    .mat-form-field {
        width: 25vh !important;
        padding: 12px;
    }
}

.mat-menu-panel {
    width: 100% !important;
    height: 100% !important;
    min-width: auto !important;
    max-width: 100% !important;
}

.menu-btn {
    margin: 10px;
}

.submit-btn-container {
    padding: 12px;
    .submit-btn {
        width: 100%;
    }
}
