<button mat-stroked-button [matMenuTriggerFor]="menuTrigger" type="button" class="menu-btn"
  [color]="openedMenu ? 'primary' : null" (menuOpened)="openMenu()" (menuClosed)="closeMenu()">
  Menú
  <mat-icon *ngIf="!openedMenu">arrow_drop_down</mat-icon>
  <mat-icon *ngIf="openedMenu">arrow_drop_up</mat-icon>
</button>
<mat-menu #menuTrigger="matMenu">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="selection-container" fxLayout="row" fxLayoutAlign="start center" (click)="$event.stopPropagation()">
      <mat-form-field appearance="outline">
        <mat-label>Punto de Medida</mat-label>
        <mat-select placeholder="" name="opt" disableOptionCentering panelClass="customSelect" formControlName="value1"
          name="value1">
          <mat-option *ngFor="let opt of dataSource;" [value]="opt" (click)="onSelectValue1(opt)">
            {{opt.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Analizador</mat-label>
        <mat-select placeholder="" name="opt" disableOptionCentering panelClass="customSelect" formControlName="value2"
          name="value2">
          <mat-option *ngFor="let opt of analyzers | async;" [value]="opt">
            {{opt.model}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="submit-btn-container" (click)="$event.stopPropagation()">
      <button class="submit-btn" type="submit" mat-raised-button [disabled]="!form.valid" color="primary">
        Aceptar
      </button>
    </div>
  </form>
</mat-menu>