<div class="periferic-list">
  <h3 matSubheader>Corregido por:</h3>
  <mat-list>
    <mat-list-item *ngFor="let c of corrections | async">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="deleteCorrection(c.sensorId)" color="primary">
          <mat-icon>delete</mat-icon>
          <span>Eliminar</span>
        </button>
      </mat-menu>

      {{ c.name }}: {{ c.formula.name }} - {{ c.formula.value }}
    </mat-list-item>
  </mat-list>
</div>