.mat-input-element:disabled {
  color: black !important;
}

.mat-form-field {
  padding-top: 10px;
}

.mat-dialog-actions {
  margin-bottom: 0 !important;
}

.success-msg {
  color: green;
}

.error-msg {
  // margin-left: 10%;
  color: red;
}

