<mat-progress-bar *ngIf="progressBar" mode="indeterminate"></mat-progress-bar>

<div mat-dialog-content>
  <div *ngIf="Changepsswd else template">
    <h1 mat-dialog-title>Perfil de usuario </h1>
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput [value]="user?.userName" required disabled>
      <mat-icon matSuffix>assignment_ind</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Roles asignados</mat-label>
      <input matInput [value]="user?.roleNames" required disabled>
      <mat-icon matSuffix>assignment</mat-icon>
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="end">
    <button class="btn-space" mat-button color="primary" (click)="Changepsswd = !Changepsswd" cdkFocusInitial>Cambiar contraseña</button>
    <button mat-button (click)="onNoClick()">Cerrar</button>
    </div>
  </div>

  <ng-template #template>
    <h1 mat-dialog-title>Cambiar contraseña</h1>
    <p class="success-msg mat-small" *ngIf="!error && show">La contraseña se ha cambiado correctamente</p>
    <p class="error-msg mat-small" *ngIf="error && show && message">{{ message || null }}. No se ha podido cambiar la
      contraseña</p>

    <form novalidate [formGroup]="form" (ngSubmit)="onSubmitPassword()">
      <mat-form-field color="primary" appearance="outline">
        <mat-label>Contraseña actual</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" type="password" name="currentPassword"
          formControlName="currentPassword" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error class="mat-small"
          *ngIf="!form.controls['currentPassword'].valid && form.controls['currentPassword'].touched">
          {{getCurrentPassswordErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field color="primary" appearance="outline">
        <mat-label>Contraseña nueva</mat-label>
        <input matInput [type]="_hide ? 'password' : 'text'" type="password" name="newPassword"
          formControlName="newPassword" required>
        <mat-icon matSuffix (click)="_hide = !_hide">{{_hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error class="mat-small"
          *ngIf="!form.controls['newPassword'].valid && form.controls['newPassword'].touched">
          {{getNewPassswordErrorMessage()}}</mat-error>
        <mat-hint class="mat-small">min 8 carácteres, minúsculas, mayúsculas, números y carácteres especiales</mat-hint>

      </mat-form-field>
      <mat-form-field color="primary" appearance="outline">
        <mat-label>Confirmar contraseña</mat-label>
        <input matInput [type]="__hide ? 'password' : 'text'" type="password" name="confirmPassword"
          formControlName="confirmPassword" required>
        <mat-icon matSuffix (click)="__hide = !__hide">{{__hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error class="mat-small" *ngIf="form.controls['confirmPassword'].touched && !equalPasswords()">
          Contraseña no coincide
        </mat-error>
      </mat-form-field>


      <div fxLayout="row" fxLayoutAlign="end">
        <button class="btn-space" mat-button (click)="Changepsswd = !Changepsswd; this.form.reset()">Volver</button>
        <button mat-button color="primary" type="submit" cdkFocusInitial>Cambiar</button>
      </div>
    </form>
  </ng-template>

</div>