.mat-form-field {
  margin: 5px !important;
}

.mat-column-actions {
  padding-left: 24px;
  width: 100px !important;
  box-shadow: inset 2px 0 0 rgba(0, 0, 0, 0.16);
}

.mat-column-measuring {
  padding-right: 0px;
  padding-left: 0px;
}

.mat-column-slope {
  padding-right: 0px;
  padding-left: 0px;
}

.mat-column-intercept {
  padding-right: 0px;
  padding-left: 0px;
}

.mat-column-date {
  padding-right: 0px;
  padding-left: 0px;
}

td.mat-cell:last-of-type {
  background-color: transparent !important;
}

.mat-row:hover {
  cursor: pointer;
}
