<mat-card-header>
  <mat-card-title>Funciones de calibración</mat-card-title>
  <mat-card-subtitle>{{ description ||'Ver historial y añadir funciones de calibración'}}
  </mat-card-subtitle>
  <span class="example-spacer"></span>
  <app-mat-selection *ngIf="focus$ | async" [dataSource]="focus$ | async" (emitData)="dataFromSelection($event)">
  </app-mat-selection>
</mat-card-header>
<mat-card-content>
  <div class="container">
    <div class="content">
      <ng-container *ngIf="dataSource$ | async as data; else displayMessages">
        <table mat-table #table [dataSource]="data" class="elevation-class">
          <!--  Contaminante -->
          <ng-container matColumnDef="measuring">
            <th mat-header-cell *matHeaderCellDef>Contaminante</th>
            <td mat-cell *matCellDef="let row">{{row.name || null}}</td>
          </ng-container>
          <ng-container matColumnDef="slope">
            <th mat-header-cell *matHeaderCellDef>Slope</th>
            <td mat-cell *matCellDef="let row">
              <ng-container *ngIf="row && row.calibrationFunction">
                {{row.calibrationFunction.slope}}
              </ng-container>
            </td>
          </ng-container>
          <!-- Intercept -->
          <ng-container matColumnDef="intercept">
            <th mat-header-cell *matHeaderCellDef>Intercept</th>
            <td mat-cell *matCellDef="let row">
              <ng-container *ngIf="row && row.calibrationFunction">
                {{row.calibrationFunction.intercept}}
              </ng-container>
            </td>
          </ng-container>
          <!-- Fecha -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Fecha</th>
            <td mat-cell *matCellDef="let row">
              <ng-container *ngIf="row && row.calibrationFunction">
                {{row.calibrationFunction.date | date:'d/M/yyyy'}}
              </ng-container>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="goToHistory(row)"
            [matTooltip]="tooltipMessage(row.name)" aria-label="ir al historial">
          </tr>
        </table>
      </ng-container>
      <ng-template #displayMessages>
        <app-display-messages (update)="getFocus()" [error]="error$ | async">
        </app-display-messages>
      </ng-template>
    </div>
  </div>
</mat-card-content>