<!-- <mat-progress-bar *ngIf="progressBar" mode="indeterminate"></mat-progress-bar>
<div mat-dialog-content>
    <div class="title-dialog-custom-header">
        <h1 mat-dialog-title>Añadir función de calibración</h1>
    </div>

    <div class="example-container">

        <div class="example-form-container">
            <form [formGroup]="firstFormGroup" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="outline">
                    <mat-label>Slope</mat-label>
                    <input matInput name="slope" formControlName="slope" required>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>intercept</mat-label>
                    <input matInput name="intercept" formControlName="intercept" required>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Fecha validación</mat-label>
                    <input matInput [matDatepicker]="date" name="date" formControlName="date" required>
                    <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                    <mat-datepicker #date></mat-datepicker>
                </mat-form-field>
                <div mat-dialog-actions>
                    <button mat-button (click)="onNoClick()" cdkFocusInitial>Cerrar</button>
                    <button mat-button color="primary" type="submit">Aceptar</button>
                </div>
            </form>
        </div>
    </div>
</div> -->

<div class="header-table-container">
    <form [formGroup]="firstFormGroup" (ngSubmit)="onSubmit()" #addGroup="ngForm">

        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="input1">
                <th mat-header-cell *matHeaderCellDef>
                    <input
                        [ngClass]="{'invalid-form-control': slope.invalid && (slope.dirty || slope.touched), 'form-control-edit': toggle$} || slope.errors?.required"
                        class="form-control focus-input" placeholder="Slope" name="slope" formControlName="slope"
                        id="focused-input" required>
                </th>
            </ng-container>
            <ng-container matColumnDef="input2">
                <th mat-header-cell *matHeaderCellDef>
                    <input
                        [ngClass]="{'invalid-form-control': intercept.invalid && (intercept.dirty || intercept.touched), 'form-control-edit': toggle$} || intercept.errors?.required"
                        class="form-control focus-input" placeholder="Intercept" name="intercept"
                        formControlName="intercept" required>
                </th>
            </ng-container>
            <ng-container matColumnDef="input3">
                <th mat-header-cell *matHeaderCellDef>
                    <div (click)="picker2.open()">
                        <input
                            [ngClass]="{'invalid-form-control': date.invalid && (date.dirty || date.touched), 'form-control-edit': toggle$, 'date-picker': toggle$} || date.errors?.required"
                            class="form-control focus-input" placeholder="Fecha" [matDatepicker]="picker2"
                            name="date" formControlName="date" required>
                        <mat-datepicker #picker2></mat-datepicker>
                    </div>
                </th>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>
                    <ng-container *ngIf="!toggle$; else add">
                        <div>
                            <button type="button" mat-raised-button color="primary"
                                (click)="toggle$ = !toggle$; onToggle()" [disabled]="isEnabled">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </ng-container>

                    <ng-template #add>
                        <div>
                            <button mat-icon-button color="primary" type="submit" [disabled]="firstFormGroup.invalid">
                                <mat-icon>done</mat-icon>
                            </button>
                            <button type="button" mat-icon-button color="primary"
                                (click)="toggle$ = !toggle$; onToggle(); resetForm()">
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </div>
                    </ng-template>
                </th>

            </ng-container>

            <tr mat-header-row *matHeaderRowDef=" displayedColumns2" class="form-header"
                [ngClass]="{'toggleBackground': toggle$ }"></tr>
        </table>
    </form>
</div>