.header-table-container {
  position: relative;
}

.mat-column-actions {
  box-shadow: inset 2px 0 0 rgba(0, 0, 0, 0.16);
  width: 150px;
  min-width: 150px;
  max-width: 250px;
}

.mat-column-input1 {
  padding: 8px;
  width: 50vh;
}

.mat-column-input2 {
  padding: 8px;
  width: 50vh;
}

.mat-column-input3 {
  padding: 8px;
  width: 50vh;
}

td.mat-cell:last-of-type {
  text-align: center;
}

th.mat-header-cell:last-of-type {
  text-align: center;
}

th.mat-header-cell .form-control {
  display: block;
  top: 0;
  left: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

tr.mat-header-row.form-header {
  background-color: white !important;
  height: 48px !important;
  max-height: 48px !important;
}

tr.mat-header-row.toggleBackground {
  background-color: #eeeeee !important;
}

.form-control {
  background-color: rgba(0, 0, 0, 0.03);
  border: 2px solid rgba(236, 216, 216, 0.03);
  line-height: normal;
  border-radius: 0.5rem;
}


