@mixin dialog-container {
  padding: 0 !important;
  height: calc(100vw * var(--ratio)) !important;
}

@mixin dialog-content {
  margin-top: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-top: 0 !important;
  padding-right: 15px !important;
  padding-left: 15px !important;
  padding-bottom: 10px !important;
  max-height: calc(100vw * var(--ratio));
}

.no-table-data {
  height: 75px;
  align-items: center;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  text-align: center;
}

.container {
  margin-top: 24px;
  padding: 12px;
  .content {
    margin-top: 24px;
  }
}

.history-dialog {
  .mat-dialog-container {
    @include dialog-container();
  }
  .mat-dialog-content {
    @include dialog-content();
  }
}

.add-calibration-dialog {
  .mat-dialog-container {
    @include dialog-container();
  }
  .mat-dialog-content {
    @include dialog-content();
  }
}

.progress-bar-dialog {
  .mat-dialog-container {
    padding: 0 !important;
  }
  .mat-dialog-content {
    margin: 0 !important;
    padding: 24px !important;
  }
}

.mat-card {
  .mat-card-content {
    padding: 24px;
  }
  .mat-card-header {
    padding: 5px;
    .mat-card-title {
      margin-bottom: 2px;
      font-size: calc(13px + 0.5vw);
    }
    .mat-card-subtitle,
    .mat-card-subtitle:not(:first-child) {
      margin-bottom: 0px;
      margin-top: 0px;
      font-size: calc(7px + 0.5vw);
    }
  }
}

.title-dialog-custom-header {
  padding: 8px 0;
  display: flex;
  flex-wrap: wrap;
  min-height: 52px;
  align-items: center;
  margin-bottom: 0px;
}

.example-spacer {
  flex: 1 1 auto;
}

.no-hover {
  pointer-events: none;
}

.customSelect {
  margin-top: 20px !important;
}

.mat-form-field {
  // font-size: 14px;
  width: 100%;
}

app-display-messages {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;
  padding: 10%;
}

.dialog-arrow {
  border-color: transparent;
  border-bottom-color: #fff;
  border-style: dashed dashed solid;
  border-width: 0 8.5px 8.5px;
  position: absolute;
  top: 37px;
  z-index: 1001;
  height: 0;
  width: 0;
  -webkit-animation: gb__a 25ms;
  animation: gb__a 25ms;
  filter: drop-shadow(0 -2px 1px rgba(0, 0, 0, 0.05));
}

@-webkit-keyframes gb__a {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes gb__a {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.selection-container {
  padding: 12px;
  .mat-form-field {
    width: 100% !important;
    margin: 10px !important;
  }
}

.mat-menu-panel {
  width: 100% !important;
  height: 100% !important;
  min-width: auto !important;
  max-width: 100% !important;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 0.53em;
}

.menu-btn {
  margin: 10px;
}

.submit-btn-container {
  padding: 12px;
  .submit-btn {
    width: 100%;
  }
}

.stepper-container {
  padding: 24px;
  .mat-stepper-vertical {
    border-radius: 0.53em;
  }
  .stepper-content {
    padding: 12px;
  }
}

.mat-progress-bar {
  z-index: 2 !important;
  position: absolute !important;
}

/** tables */
.btn-space {
  margin-right: 8px;
}

.mat-header-cell {
  font-size: 16px;
  font-weight: bold;
}

tr.mat-row {
  height: 48px !important;
  max-height: 48px !important;
}

.mat-paginator-container {
  justify-content: center !important;
}

.invalid-form-control {
  border: 1px solid red !important;
}

.form-control-noeditable {
  background-color: inherit !important;
  border: none;
  line-height: normal;
  border-radius: 0.5rem;
  display: block;
  top: 0;
  left: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.date-picker:hover {
  cursor: pointer;
}
