@import "~@angular/material/theming";
// #eeeeee
@mixin mixins($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .form-control-edit {
    background-color: white !important;
    border: 1px solid mat-color($primary) !important;
  }

  .focus-input:focus {
    outline: none;
    box-shadow: 0px 0px 2px mat-color($primary);
    border-radius: 0.5rem;
  }


  tr.mat-header-row {
    background-color: mat-color($primary);
  }

  .mat-header-cell {
    color: white !important;
  }

  .mat-sort-header-arrow {
    color: white;
  }

  .white-btn {
    color: white !important;
  }

  @media screen and (max-width: 992px) {
    table.mat-table {
      max-height: calc(100vw * (9 / 16));
    }
  }

  .mat-paginator {
    background-color: white;
  }

  .mat-row:hover {
    background-color: mat-color($accent);
  }

  .mat-list-item:hover {
    background-color: mat-color($accent);
  }

  .mat-card {
    background-color: mat-color($accent);
  }

  .list-header {
    background-color: mat-color($primary);
    color: white !important;
  }

  .date-picker:hover {
    cursor: pointer;
    background-color: mat-color($accent);
  }

  .stepper-container {
    .mat-stepper-vertical {
      border: 1px solid rgba(0, 0, 0, 0.16);
    }
  }
}

@mixin route-loader($background, $spinner) {
  .route-preloader div:before {
    background-color: $background;
  }
  .route-holder {
    background-color: $spinner;
  }
}

.elevation-class {
  @include mat-elevation-transition;
  @include mat-elevation(2);

  &:hover {
    @include mat-elevation(8);
  }
}
