.list-header-parent {
    background-color: rgba(0, 0, 0, 0.03);
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 8px 20px;
    margin-top: 24px;
}

.list-title-parent {
    flex: 1 1 auto;
    color: rgba(0, 0, 0, .54);
}