<div fxLayout="column" fxFill *ngIf="focusList">
  <mat-card fxFlex>
    <mat-card-header>
      <mat-card-title>Periféricos </mat-card-title>
      <mat-card-subtitle>{{ (description | async) || 'Administrar periféricos'  }}</mat-card-subtitle>
      <span class="example-spacer"></span>
      <ng-container *ngIf="focusList | async as data">
        <app-mat-selection [dataSource]="data" (emitData)="dataFromSelection($event)"></app-mat-selection>
      </ng-container>
    </mat-card-header>

    <mat-card-content>
      <ng-container *ngIf="analyzer | async as data; else error">
        <mat-tab-group dynamicHeight animationDuration="0ms">
          <mat-tab label="Periféricos">
            <ng-template matTabContent>
              <div class="container">
                <div class="content">
                  <app-periferic-sensor #perifericSensor [analyzer]="data"></app-periferic-sensor>
                </div>
              </div>
            </ng-template>
          </mat-tab>
          <mat-tab label="Correcciones">
            <ng-template matTabContent>
              <div class="container">
                <div class="content">
                  <app-periferic-add [analyzer]="data"></app-periferic-add>
                </div>
              </div>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </ng-container>
      <ng-template #error>
        <app-display-messages [error]="error$ | async" (update)="update()"></app-display-messages>
      </ng-template>
    </mat-card-content>
  </mat-card>
</div>