.mat-column-actions {
  padding-left: 24px;
  width: 100px !important;
  box-shadow: inset 2px 0 0 rgba(0, 0, 0, 0.16);
}

.mat-column-name {
  padding-right: 0px;
  padding-left: 0px;
}

.mat-column-roleName {
  padding-right: 0px;
  padding-left: 0px;
}

.header-btn {
  margin: 8px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.mat-accordion .mat-expansion-panel {
  z-index: 2;
  margin: 8px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0.5em;
}
