<mat-card fxLayout="column" fxFill>
  <mat-card-header>
    <mat-card-title>Gestión de usuarios</mat-card-title>
    <mat-card-subtitle>Añadir, modificar y eliminar usuarios</mat-card-subtitle>
    <span class="example-spacer "></span>
    <button class="header-btn" mat-stroked-button color="primary" (click)="addUser()">
      <mat-icon aria-label="add">person_add</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <div class="container">
      <div class="content">
        <!--  -->
        <ng-container *ngIf="users | async as users$; else messages">
          <mat-accordion class="example-headers-align">
            <mat-expansion-panel #panel class="elevation-class" [expanded]="(step | async) === 1" (opened)="setStep(0)"
              hideToggle *ngFor="let user of users$; trackBy: trackByUser">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{user.userName}}
                </mat-panel-title>
                <mat-panel-description>
                  {{user.roleNames}}
                  <mat-icon>account_circle</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <app-user-detail [data]="user" (update)="update()" *ngIf="panel.expanded">
                </app-user-detail>
              </ng-template>
            </mat-expansion-panel>
          </mat-accordion>
        </ng-container>
        <!--  -->
        <ng-template #messages>
          <app-display-messages [error]="error"></app-display-messages>
        </ng-template>
      </div>
    </div>
  </mat-card-content>
</mat-card>