<mat-form-field>
  <mat-select placeholder="Periféricos">
    <ng-container *ngFor="let p of periferics | async">
      <mat-option [value]="p" (click)="addCorrection(p)">
        {{ p.name }}
      </mat-option>
    </ng-container>
  </mat-select>
</mat-form-field>