<button mat-stroked-button [matMenuTriggerFor]="menuTrigger" type="button" class="menu-btn"
  [color]="openedMenu ? 'primary' : null" (menuOpened)="openMenu()" (menuClosed)="closeMenu()">
  Menú
  <mat-icon *ngIf="!openedMenu">arrow_drop_down</mat-icon>
  <mat-icon *ngIf="openedMenu">arrow_drop_up</mat-icon>
</button>
<mat-menu #menuTrigger="matMenu">
  <ng-container *ngIf="charts; else messages">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="selection-container" fxLayout="column" fxLayoutAlign="space-between center"
        (click)="$event.stopPropagation()">
        <h4 class="mat-h4">Seleccionar gráfico</h4>
        <mat-form-field>
          <mat-select placeholder="Gráficos" formControlName="chartId" name="chartId">
            <mat-option *ngFor="let chart of charts" [value]="chart.chartId">
              {{chart.description}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <h4 class="mat-h4">Rango de fechas</h4>
        <div fxLayout="row" fxLayoutAlign="start center">

          <mat-form-field (click)="picker3.open()">
            <input matInput class="date-picker" [matDatepicker]="picker3" placeholder="Fecha inicial"
              formControlName="initialDate" name="initialDate">
            <!-- <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle> -->
            <mat-datepicker #picker3 startView="year" disabled="false"></mat-datepicker>
          </mat-form-field>

          <mat-form-field (click)="picker4.open()">
            <input matInput class="date-picker" [matDatepicker]="picker4" placeholder="Fecha final"
              formControlName="finalDate" name="finalDate">
            <!-- <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle> -->
            <mat-datepicker #picker4 startView="year" disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class="submit-btn-container" (click)="$event.stopPropagation()">
        <button class="submit-btn" mat-stroked-button type="submit" color="primary" [disabled]="!form.valid">
          <mat-icon>autorenew</mat-icon>
          Generar gráfico
        </button>
        <button class="submit-btn" type="button" mat-stroked-button (click)="startDownload()" [disabled]="!form.valid">
          <mat-icon>get_app</mat-icon>
          Descargar
        </button>
      </div>
    </form>
  </ng-container>
  <ng-template #messages>
    <app-display-messages [error]="error"></app-display-messages>
  </ng-template>
</mat-menu>
