<button mat-menu-item (click)="notFound()">
  <mat-icon mat-list-icon>error</mat-icon>
  Not Found 
</button>

<button mat-menu-item (click)="badRequest()">
  <mat-icon mat-list-icon>error</mat-icon>
  Bad Request
</button>

<button mat-menu-item (click)="notauthorized()">
  <mat-icon mat-list-icon>error</mat-icon>
  Unauthorized
</button>

<button mat-menu-item (click)="serverError()">
  <mat-icon mat-list-icon>error</mat-icon>
  Server Side Error
</button>