<h2 mat-dialog-title>¿Estás seguro?</h2>
<mat-dialog-content>
  <p>{{ data?.message || 'Se eliminará permanetemente.'}}</p>
</mat-dialog-content>
<!-- <mat-dialog-actions> -->
<div fxLayout="row" fxLayoutAlign="end">
  <button class="btn-space" mat-stroked-button color="primary" (click)="onNoClick()"
    cdkFocusInitial>{{ data?.dismiss || 'Cancelar'}}</button>
  <button mat-stroked-button [mat-dialog-close]="canDelete">{{ data?.accept || 'Eliminar'}}</button>
</div>
<!-- </mat-dialog-actions> -->