<div id="fab-dismiss" *ngIf="fabTogglerState ==='active'" (click)="onToggleFab()">
</div>

<div class="fab-container">
  <button mat-fab class="fab-toggler" (click)="onToggleFab()" color="primary">
    <i class="material-icons" [@fabToggler]="{value: fabTogglerState}">settings</i>
  </button>
  <div [@speedDialStagger]="buttons.length" *ngIf="mode == 'nested'">
    <button *ngFor="let btn of buttons" mat-mini-fab>
      <i class="material-icons">{{btn.icon}}</i>
    </button>
  </div>
</div>