<mat-nav-list>
  <mat-divider></mat-divider>
  <h3 mat-subheader>App</h3>
  <ng-container *ngFor="let route of this._checkRole.getNavigationList() | async; last as last">
    <mat-list-item *ngIf="!route.hide" [routerLink]="[route.path]" routerLinkActive="active"
      (click)="!(screenWidth > 1250) && close.emit(); showSettingSubmenu = false">
      <p matLine>{{ route.title}}</p>
    </mat-list-item>
  </ng-container>

  <div [ngClass]="{'viewer-nav-submenu': showSettingSubmenu}">
    <mat-nav-list>
      <mat-list-item (click)="showSettingSubmenu = !showSettingSubmenu">
        <p matLine>Gráfico histórico</p>
        <mat-icon *ngIf="!showSettingSubmenu">arrow_drop_down</mat-icon>
        <mat-icon *ngIf="showSettingSubmenu">arrow_drop_up</mat-icon>
      </mat-list-item>
      <mat-nav-list *ngIf="showSettingSubmenu">

        <mat-list-item [routerLink]="['graf-hist']" routerLinkActive="active"
          (click)="!(screenWidth > 1250) && close.emit();">
          <mat-icon mat-list-icon>show_chart</mat-icon>
          <p matLine>Ir al gráfico</p>
        </mat-list-item>

        <mat-list-item [routerLink]="['graf-settings']" routerLinkActive="active"
          (click)="!(screenWidth > 1250) && close.emit();">
          <mat-icon mat-list-icon>settings</mat-icon>
          <p matLine>Ajustes</p>
        </mat-list-item>
      </mat-nav-list>
    </mat-nav-list>
  </div>
  <mat-divider></mat-divider>

  <h3 mat-subheader>Administración</h3>
  <ng-container *ngFor="let route of adminNavigationList; last as last">
    <mat-list-item *ngIf="!route.hide" [routerLink]="[route.path]" routerLinkActive="active"
      (click)="!(screenWidth > 1250) && close.emit();; showSettingSubmenu = false">
      <p matLine>{{ route.title}}</p>
      <mat-divider [inset]="true" *ngIf="last"></mat-divider>
    </mat-list-item>
  </ng-container>
</mat-nav-list>