.paren-list {
  margin: 24px;
  padding-top: 0px !important;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0.5em;
  background-color: white;
}

.list-content {
  padding: 12px;
}

.add-list {
  padding-top: 25px;
  width: 180px;
}

.list-header {
  height: 56px;
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 8px 20px;
}

.list-title {
  flex: 1 1 auto;
}
