<ng-container *ngIf="sensors | async as data; else messages">
    <mat-list *ngFor="let sensor of data" class="paren-list elevation-class">
        <div class="list-header">
            <h3 class="list-title">{{sensor.measuringComponent.name}} <span *ngIf="sensor.periferic"> -
                    Periférico</span>
            </h3>
        </div>
        <div class="list-content">
            <div class="add-list">
                <h3 matSubheader>
                    <app-add-correction [sensor]="sensor" [analyzerId]="analyzer.analyzerId" (update)="refresh()">
                    </app-add-correction>
                </h3>
            </div>
            <app-sensor-correction [sensor]="sensor" (update)="refresh()"></app-sensor-correction>
        </div>
    </mat-list>
    <!-- <ng-template [ngIf]="data.lenth == 0">
        <app-display-messages></app-display-messages>
    </ng-template> -->
</ng-container>

<!-- <ng-template #messages>
    <app-display-messages></app-display-messages>
</ng-template> -->