<mat-card-header>
  <mat-card-title>Historial</mat-card-title>
  <mat-card-subtitle>{{ measuringName ||'Ver historial'}}</mat-card-subtitle>
  <span class="example-spacer"></span>
  <div class="header-buttons">
    <button class="back-btn" mat-stroked-button (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
      <span>Volver</span>
    </button>
  </div>
</mat-card-header>
<mat-card-content>
  <div class="elevation-class">
    <div class="example-table-container" [ngClass]="{'no-overflow': dataSource.data.length == 0}">
      <form [formGroup]="formControl">
        <table mat-table [dataSource]="dataSource" class="example-table" matSort>

          <ng-container matColumnDef="prueba">
            <th mat-header-cell *matHeaderCellDef>
              <app-calibration-add [sensorId]="sensorId" [isEnabled]="isEnabled" (isAdding)="disableAll($event)"
                (update)="refresh()">
              </app-calibration-add>
            </th>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>
              <span>Ajustes</span>
            </th>

            <td mat-cell *matCellDef="let row; let i=index;">
              <ng-container *ngIf="row.isEditable; else elseBlock">
                <button mat-icon-button color="primary"
                  (click)="updateRow(); row.isEditable = !row.isEditable; isEnabled = !isEnabled;"
                  [disabled]="formControl.invalid">
                  <mat-icon aria-label="Done">
                    done
                  </mat-icon>
                </button>

                <button mat-icon-button color="primary"
                  (click)="highlightedRows = [];row.isEditable = !row.isEditable; isEnabled = !isEnabled;">
                  <mat-icon aria-label="Cancel">cancel</mat-icon>
                </button>
              </ng-container>
              <ng-template #elseBlock>
                <button [matMenuTriggerFor]="menu" mat-icon-button color="primary" [disabled]="isEnabled">
                  <mat-icon aria-label="Edit">settings</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item color="primary" (click)="highlightedRows.push(row);selectedRow(row);">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                    <span>Editar</span>
                  </button>
                  <button mat-menu-item color="primary" (click)="deleteRow(row.calibrationFunctionId)"
                    [disabled]="isEnabled">
                    <mat-icon aria-label="Cancel">delete</mat-icon>
                    <span>Eliminar del historial</span>
                  </button>
                </mat-menu>
              </ng-template>
            </td>
          </ng-container>

          <ng-container matColumnDef="slope">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <span class="form-control-noeditable">Slope</span>
            </th>

            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="!element.isEditable; else editSlope">
                <span class="form-control-noeditable"> {{element.slope}}</span>
              </ng-container>
              <ng-template #editSlope>
                <input class="form-control focus-input" id="focused-input2"
                  [ngClass]="{'invalid-form-control': slope.invalid && (slope.dirty || slope.touched), 'form-control-edit': isEnabled} || slope.errors?.required"
                  formControlName="slope" name="slope" required>
              </ng-template>
            </td>
          </ng-container>
          <ng-container matColumnDef="intercept">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <span class="form-control-noeditable">Intercept</span>
            </th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="!element.isEditable; else editIntercept">
                <span class="form-control-noeditable">{{element.intercept}}</span>
              </ng-container>
              <ng-template #editIntercept>
                <input class="form-control focus-input"
                  [ngClass]="{'invalid-form-control': intercept.invalid && (intercept.dirty || intercept.touched), 'form-control-edit': isEnabled} || intercept.errors?.required"
                  formControlName="intercept" name="intercept" required>
              </ng-template>
            </td>

          </ng-container>
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <span class="form-control-noeditable">Fecha</span>

            </th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="!element.isEditable; else editDate">
                <span class="form-control-noeditable"> {{element.date | date:'d/M/yyyy'}} </span>
              </ng-container>
              <ng-template #editDate>
                <div (click)="picker.open()">
                  <input class="form-control date-picker focus-input"
                    [ngClass]="{'invalid-form-control': date.invalid && (date.dirty || date.touched), 'form-control-edit': isEnabled} || date.errors?.required"
                    [matDatepicker]="picker" placeholder="Selecciona una fecha" formControlName="date" name="date"
                    required>
                  <mat-datepicker #picker disabled="false"></mat-datepicker>
                </div>
              </ng-template>
            </td>

          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            [style.background]="highlightedRows.indexOf(row) != -1 ? '#eeeeee' : ''"></tr>
          <tr mat-header-row *matHeaderRowDef="secondColumns" class="add-calibration"></tr>
        </table>
      </form>
    </div>
    <ng-template [ngIf]="dataSource.data.length == 0">
      <div class="no-table-data">
        <p>No hay historial</p>
      </div>
    </ng-template>

    <mat-paginator [length]="resultsLength" [pageSize]="10"></mat-paginator>
  </div>
</mat-card-content>
