

.back-btn {
  height: 40px !important;
}

.mat-card-header {
  align-items: center !important;
}

.example-table-container {
  position: relative;
  overflow: auto !important;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0.5em;
}

.mat-column-actions {
  box-shadow: inset 2px 0 0 rgba(0, 0, 0, 0.16);
  width: 150px;
  min-width: 150px;
  max-width: 250px;
}

.mat-column-slope {
  width: 50vh;
  padding: 8px;
}

.mat-column-intercept {
  width: 50vh;
  padding: 8px;
}

.mat-column-date {
  width: 50vh;
  padding: 8px;
}

th.mat-header-cell:last-of-type {
  text-align: center;
}

td.mat-cell:last-of-type {
  text-align: center;
}

td.mat-cell .form-control {
  display: block;
  top: 0;
  left: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.form-control {
  background-color: white;
  line-height: normal;
  border-radius: 0.5rem;
}

.mat-column-prueba {
  width: 50vh;
  padding: 0 !important;
  width: 100% !important;
  position: absolute;
}

tr.mat-header-row.add-calibration {
  background-color: white !important;
}

.no-overflow {
  overflow: hidden !important;
}