<div mat-dialog-content>
  <h1 mat-dialog-title>Añadir Usuario </h1>
  <form novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
    <p class="error-msg mat-small" *ngIf="error | async">Error al crear el usuario</p>
    <!-- userName -->
    <mat-form-field color="primary" appearance="outline">
      <mat-label>Nombre usuario</mat-label>
      <input matInput formControlName="name" name="name" required>
      <mat-icon matSuffix>assignment_ind</mat-icon>
      <mat-error class="mat-small" *ngIf="!form.controls['name'].valid && form.controls['name'].touched">
        {{getUserNameErrorMessage()}}</mat-error>
    </mat-form-field>

    <!-- password -->
    <mat-form-field color="primary" appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" name="password" type="password" formControlName="password"
        required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error class="mat-small" *ngIf="!form.controls['password'].valid && form.controls['password'].touched">
        {{getPassswordErrorMessage()}}</mat-error>
      <mat-hint class="mat-small">min 8 carácteres, minúsculas, mayúsculas, números y carácteres especiales</mat-hint>
    </mat-form-field>

    <!-- confirm password -->
    <mat-form-field color="primary" appearance="outline">
      <mat-label>Confirmar contraseña</mat-label>
      <input matInput [type]="hide? 'password' : 'text'" type="password" name="confirmedPassword"
        formControlName="confirmedPassword" required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error class="mat-small" *ngIf="form.controls['confirmedPassword'].touched && !equalPasswords()">
        Contraseñas no coinciden
      </mat-error>
    </mat-form-field>

    <!-- select Role -->
    <mat-form-field class="select-role" color="primary" appearance="outline">
      <mat-label>Añadir rol</mat-label>
      <mat-select class="custom-select" [formControl]="roleName" name="roleName" required>
        <mat-option *ngFor="let role of roles; trackBy: trackByRole" [value]="role.name">{{ role.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()" cdkFocusInitial>Cerrar</button>
      <button mat-button color="primary" type="submit" [disabled]="form.invalid">Aceptar</button>
    </div>
  </form>
</div>