<mat-toolbar color="accemt">
  <!-- My App -->
  <span class="example-spacer"></span>
  <button class="back-btn" mat-stroked-button >
    <!-- <mat-icon>arrow_back</mat-icon> -->
    <span>Aceptar</span>
  </button>
  <button class="back-btn" mat-stroked-button >
    <!-- <mat-icon>arrow_back</mat-icon> -->
    <span>Cancelar</span>
  </button>
</mat-toolbar>