.step {
  text-align: center; //padding: 10%;
}

.steps {
  text-align: center;
}

.step__media {
  margin: 0pt 0;
}

@media (min-width: 992px) {
  .step__media {
    margin: 0pt 0;
  }
}

.step__image {
  max-height: 170px;
  max-width: 222px;
  margin-top: 8pt;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

@media (min-width: 600px) {
  .step__image {
    max-width: none;
  }
}

.step__text {
  text-align: center;
}
