<ng-template [ngIf]="!(loadingSubscription | async) && (show | async)">
  <ng-container #showError>
    <div class="step">
      <div class="step__media">
        <img class="svg-color" [src]="default.empty_data" class="step__image">
      </div>
      <h4>¡Oops!</h4>
      <div class="step__text" *ngIf="error">
        <p>{{ error.message || 'Cargando ...' }}.</p>
      </div>
      <button mat-icon-button (click)="sendUpdate()" *ngIf="button">
        <mat-icon aria-label="reaload">refresh</mat-icon>
      </button>
    </div>
  </ng-container>
</ng-template>