.table-container {
  background-color: white;
}
.mat-column-other {
  box-shadow: inset 2px 0 0 rgba(0, 0, 0, 0.16);
  width: 150px;
  min-width: 150px;
  max-width: 250px;
}

.mat-column-periferico {
  padding: 8px;
  width: 50vh;
}

.mat-column-formula {
  padding: 8px;
  width: 50vh;
}

th.mat-header-cell:last-of-type {
  text-align: center;
}

td.mat-cell:last-of-type {
  text-align: center;
}

td.mat-cell .form-control {
  display: block;
  top: 0;
  left: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  //
  background-color: white !important;
  border: 2px solid #3f51b5;
  line-height: normal;
  border-radius: 0.5rem;
}
