<ng-container *ngIf="dataSource | async as data; else messages">
    <div class="table-container elevation-class">
        <table mat-table [dataSource]="data" class="mat-cell">
            <ng-container matColumnDef="periferico">
                <th mat-header-cell *matHeaderCellDef>
                    <span class="form-control-noeditable">Periférico</span>
                </th>
                <td mat-cell *matCellDef="let element">
                    <span class="form-control-noeditable">
                        {{element.name || 'null'}}
                    </span>
                </td>
            </ng-container>
            <ng-container matColumnDef="formula">
                <th mat-header-cell *matHeaderCellDef>
                    <span class="form-control-noeditable">Formula</span>
                </th>

                <td mat-cell *matCellDef="let element">
                    <ng-container *ngIf="!element.isEditable; else formula">
                        <span class="form-control-noeditable" *ngIf="element.perifericFormula">
                            {{element.perifericFormula?.name}} -
                            {{element.perifericFormula?.value}}</span>
                        <span class="form-control-noeditable" *ngIf="!element.perifericFormula">Añade una fórmula</span>
                    </ng-container>
                    <ng-template #formula>
                        <mat-select class="form-control" placeholder="Formulas" [(value)]="formulaSelection">
                            <mat-option *ngFor="let f of formulas | async" [value]="f">
                                {{f.name}} - {{f.value}}
                            </mat-option>
                        </mat-select>
                    </ng-template>
                </td>
            </ng-container>
            <!-- actions -->
            <ng-container matColumnDef="other">
                <th mat-header-cell *matHeaderCellDef>
                    <button mat-icon-button [matMenuTriggerFor]="menu2" type="button" class="white-btn"
                        [color]="openedMenu ? 'primary' : null" (menuOpened)="openMenu()" (menuClosed)="closeMenu()"
                        [disabled]="enableEdition">
                        <mat-icon>add</mat-icon>
                    </button>
                    <mat-menu #menu2="matMenu">
                        <ng-template matMenuContent>
                            <button *ngFor="let item of noperiferics" mat-menu-item
                                (click)="createPeriferic(item.sensorId)">
                                <span> {{item?.name}}</span>
                            </button>
                        </ng-template>
                    </mat-menu>
                </th>


                <td mat-cell *matCellDef="let row; let i=index;">
                    <!-- editar usuario -->
                    <ng-container *ngIf="!row.isEditable; else editable">

                        <button [matMenuTriggerFor]="menu" mat-icon-button color="primary" [disabled]="enableEdition">
                            <mat-icon aria-label="Edit">settings</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item color="primary" (click)="selectedRow(row); highlightedRows.push(row)"
                                [disabled]="enableEdition">
                                <mat-icon aria-label="Edit">edit</mat-icon>
                                <span>Editar</span>
                            </button>
                            <button mat-menu-item color="primary" [disabled]="enableEdition"
                                (click)="deletePeriferic(row)">
                                <mat-icon aria-label="delete">delete</mat-icon>
                                <span>Eliminar periférico</span>
                            </button>
                        </mat-menu>
                    </ng-container>

                    <ng-template #editable>
                        <button mat-icon-button color="primary"
                            (click)="formulaSelected(row);row.isEditable = !row.isEditable; enableEdition = !enableEdition; highlightedRows = []">
                            <mat-icon aria-label="done">done</mat-icon>
                        </button>
                        <button mat-icon-button color="primary"
                            (click)="row.isEditable = !row.isEditable; enableEdition = !enableEdition; highlightedRows = [];">
                            <mat-icon aria-label="cancel">cancel</mat-icon>
                        </button>
                    </ng-template>

                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                [style.background]="highlightedRows.indexOf(row) != -1 ? '#eeeeee' : ''"></tr>
        </table>
        <ng-template [ngIf]="data.length == 0">
            <app-display-messages [error]="error | async"></app-display-messages>
        </ng-template>
    </div>
</ng-container>
<ng-template #messages>
    <app-display-messages [error]="error | async"></app-display-messages>
</ng-template>