.mat-selection-list {
  width: 100% !important;
}

.tree-list {
  margin: 24px;
  .mat-tree {
    // background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 0.53em;
  }
}

.star-btn .mat-icon-button {
  color: yellow;
}
