<div fxLayout="column" fxFill>
  <mat-card fxFlex>
    <mat-card-header>
      <mat-card-title>Ajustes del gráfico</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <mat-tab-group dynamicHeight animationDuration="0ms" *ngIf="!hide">
        <mat-tab label="Lista de gráficos">
          <ng-template matTabContent>
            <div class="container">
              <div class="content">
                <ng-container *ngIf="chart_Data && chart_Data.length > 0; else messages">
                  <div class="tree-list elevation-class">
                    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                        {{node.name}}
                        <ng-container *ngIf="!node.expandable && node.level == 0">
                          <span class="example-spacer"></span>
                          <button mat-icon-button color="primary" (click)="deleteChart(node)">
                            <mat-icon matListIcon>delete</mat-icon>
                          </button>
                        </ng-container>
                      </mat-tree-node>

                      <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
                          <mat-icon class="mat-icon-rtl-mirror">
                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                          </mat-icon>
                        </button>
                        {{node.name}}
                        <span class="example-spacer"></span>
                        <button mat-icon-button color="primary" (click)="deleteChart(node)">
                          <mat-icon matListIcon>delete</mat-icon>
                        </button>
                        <ng-container *ngIf="storageSupport">
                          <button mat-icon-button color="primary" (click)="toggleDefault(node)"
                            *ngIf="storageItem?.chartId != node.id">
                            <mat-icon matListIcon>star_border</mat-icon>
                          </button>
                          <button mat-icon-button color="primary" (click)="deleteDefault()"
                            *ngIf="storageItem?.chartId == node.id">
                            <mat-icon matListIcon>star</mat-icon>
                          </button>
                        </ng-container>
                      </mat-tree-node>
                    </mat-tree>
                  </div>
                </ng-container>

                <ng-template #messages>
                  <app-display-messages [error]="error"></app-display-messages>
                </ng-template>
              </div>
            </div>
          </ng-template>
        </mat-tab>

        <mat-tab label="Añadir gráfico">
          <ng-template matTabContent>
            <div class="container">
              <div class="content">
                <app-add-chart-serie (update)="getChartSeries()"></app-add-chart-serie>
              </div>
            </div>
          </ng-template>
        </mat-tab>

      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>