<div class="holder">
  <div class="step">
    <div class="step__media">
      <img src="assets/warn.svg" class="step__image">
    </div>
    <h4> Página no encontrada </h4>
    <p class="step__text">Esta página no existe. Intenta volver al inicio.</p>
    <button mat-stroked-button [routerLink]="['/features']" routerLinkActive="active">Inicio</button>
  </div>
</div>