.form-fields {
  padding-bottom: 24px;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  //  background: linear-gradient(180deg, #3f51b5 50%, #fff 50%);
  background-color: #3f51b5;
}

// .container-login100 {
//   content: "";
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-image: url(../../../assets/img/undraw_all_the_data_h4ki.svg),
//     url(../../../assets/img/undraw_dashboard_nklg.svg);
//   background-repeat: no-repeat, no-repeat;
//   background-size: 40% 40%;
//   background-position: 0% 10%, 100% 80%;
//   background-color: #3f51b5;
//   //   background-image: url(../../../assets/background.png);
//   //   background-repeat: no-repeat;
//   //   background-size: cover;
// }

.wrapper {
  margin: 0 auto;
  padding: 32px 0;
  width: 300px;
}

.container-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background: #6675df;
  font-size: 12px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.form-btn {
  padding: 0 20px;
  width: 100%;
  height: 40px;
}

* {
  box-sizing: border-box;
}

a {
  color: #5266dd;
  text-decoration: none;
}

body {
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}

/************************
  HEADER
 */
.logo {
  height: 100px;
  width: 100px;
  font-size: 80px;
  color: #fff;
}

.header {
  text-align: center;
  h1 {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0.5px;
  }
}

/************************
  FORM
 */

.form {
  display: block;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 24px;
  font-size: 15px;
}

/************************
  CREATE ACCOUNT
 */

.create-account {
  border: 1px solid #ddd;
  color: #0b0b0b;
  margin-top: 17px;
  text-align: center;
}

/************************
  FOOTER
 */

.footer {
  font-size: 12px;
  margin-top: 80px;

  ul {
    list-style-type: none;
  }

  li {
    display: inline-block;
    margin: 0 5px;
  }

  a {
    color: #323232;
    text-decoration: none;

    &:hover {
      color: #0366d6;
      text-decoration: underline;
    }
  }
}

/** slideshow */
ol,
ul {
  list-style: none;
}
.cb-slideshow,
.cb-slideshow:after {
  position: fixed;
  width: 40%;
  height: 50%;
  top: 0px;
  left: 0px;
  z-index: 0;
}
.cb-slideshow:after {
  content: "";
// background-image: url(../../../assets/img/undraw_all_the_data_h4ki.svg);
  
}

.cb-slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  // color: transparent;
  background-size: 50% 50%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -webkit-animation: imageAnimation 36s linear infinite 0s;
  -moz-animation: imageAnimation 36s linear infinite 0s;
  -o-animation: imageAnimation 36s linear infinite 0s;
  -ms-animation: imageAnimation 36s linear infinite 0s;
  animation: imageAnimation 36s linear infinite 0s;
}

.cb-slideshow li:nth-child(1) span {
  background-image: url(../../../../assets/img/undraw_all_the_data_h4ki.svg);
}
.cb-slideshow li:nth-child(2) span {
  background-image: url(../../../../assets/img/undraw_dashboard_nklg.svg);
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
}

/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes imageAnimation {
  0% {
    opacity: 0;
    -moz-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -moz-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes imageAnimation {
  0% {
    opacity: 0;
    -o-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -o-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes imageAnimation {
  0% {
    opacity: 0;
    -ms-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -ms-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
