<div class="container-login100">
  <ul class="cb-slideshow">
    <li><span></span></li>
    <li><span></span></li>
  </ul>
  <div class="wrapper">
    <header class="header">
      <mat-icon class="logo">account_circle</mat-icon>
      <h1>Entrar a SMECView</h1>
    </header>
    <form class="form mat-elevation-z8" novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-fields">

        <mat-form-field color="primary" appearance="standard">
          <mat-label>Usuario</mat-label>
          <input matInput formControlName="Username" name="username" required>
          <mat-error class="mat-small" *ngIf="!form.controls['Username'].valid && form.controls['Username'].touched">
            {{getUserNameErrorMessage()}}</mat-error>
        </mat-form-field>


        <mat-form-field color="primary" appearance="standard">
          <mat-label>Contraseña</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" name="Password" type="password" formControlName="Password"
            required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error class="mat-small" *ngIf="!form.controls['Password'].valid && form.controls['Password'].touched">
            {{getPassswordErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="container-form-btn">
        <button mat-raised-button color="primary" type="submit" class="login100-form-btn"
          *ngIf="!(showLoadingIndicator | async)" [disabled]="this.form.invalid">
          Entrar
        </button>
        <mat-spinner [diameter]="50" *ngIf="showLoadingIndicator | async"></mat-spinner>
        <mat-error class="mat-small"
          *ngIf="!(isLogged | async) && !(showLoadingIndicator | async) && (isConnected | async)">Usuario o
          contraseña
          incorrectos</mat-error>
      </div>
    </form>
    <!-- <div class="create-account">
      <p>
        New to GitHub? <a href="#" class="text-right">Create an account.</a>
      </p>
    </div> -->

    <!-- <footer class="footer">
      <ul>
        <li><a>Terminos</a></li>
        <li><a>Privacidad</a></li>
        <li><a>Securidad</a></li>
        <li><a>Contacto</a></li>
      </ul>
    </footer> -->
  </div>
</div>