<div class="stepper-container">
  <mat-vertical-stepper linear="true" #stepper class="elevation-class">
    <mat-step [stepControl]="paso1">

      <ng-template matStepLabel>Paso 1</ng-template>
      <form [formGroup]="paso1" #paso1Form="ngForm">
        <div class="stepper-content">
          <mat-form-field appearance="outline">
            <mat-label>Seleccionar Punto de Medida</mat-label>
            <mat-select formControlName="_focus" required placeholder="" name="opt" disableOptionCentering
              panelClass="customSelect">
              <mat-option *ngFor="let opt of focusList | async;" [value]="opt" (click)="focusSelection(opt)">
                {{opt.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="paso2">
      <ng-template matStepLabel>Paso 2</ng-template>
      <form [formGroup]="paso2" #paso2Form="ngForm">
        <div class="stepper-content">
          <mat-form-field appearance="outline">
            <mat-label>Seleccionar analizdor</mat-label>
            <mat-select formControlName="_analyzer" required placeholder="" name="opt" disableOptionCentering
              panelClass="customSelect">
              <mat-option *ngFor="let opt of analyzers;" [value]="opt" (click)="analyzerSelection(opt)">
                {{opt.model}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperPrevious>Volver</button>
          <button mat-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Paso 3</ng-template>
      <div class="stepper-content">

        <mat-selection-list #list (selectionChange)="seriesSelection(list.selectedOptions.selected)">
          <mat-list-option *ngFor="let s of sensors" checkboxPosition="before" [value]="s">
            {{s.measuringComponent.name}}
          </mat-list-option>
        </mat-selection-list>
      </div>
      <div>
        <button mat-button matStepperPrevious>Volver</button>
        <button mat-button matStepperNext>Siguiente</button>
      </div>

    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Paso 4</ng-template>
      <div class="stepper-content">

        <div fxLayout="column" fxLayoutAlign="start start">
          <p> Se guardará la siguiente infomación.</p>
          <p> Nombre: {{ description }}.</p>
          <p> Series: <span *ngFor="let s of series; last as last">{{s.name}}<span *ngIf="!last">, </span><span
                *ngIf="last">.</span></span></p>
        </div>
      </div>
      <div>
        <button mat-button matStepperPrevious>Volver</button>
        <button mat-button (click)="resetStepper()">Reiniciar</button>
        <button mat-button (click)="saveChart()">Guardar</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
