@import "~@angular/material/theming";
@import "~ngx-toastr/toastr.css";
@import "styles/components.scss";
@import "styles/mixins.scss";

@include mat-core();
$primary: mat-palette($mat-indigo, 500);
$accent: mat-palette($mat-grey, 200);
$warn: mat-palette($mat-red, 500);

$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);
@include route-loader(mat-color($primary), #fafafa);
@include mixins($theme);


html {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  // font-size: calc(7px + 0.5vw);
  // line-height: calc(1.1em + 0.5vw);
  box-sizing: inherit;
}

table {
  width: 100%;
}

/* Customk Scrollbar */

/* width */

::-webkit-scrollbar {
  width: 7px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
