<div class="holder">
    <div class="step">
      <div class="step__media">
        <img src="assets/warn.svg" class="step__image">
      </div>
      <h4> Error en la conexión </h4>
      <p class="step__text">{{ message || 'Cargando ...' }}.</p>
      <button mat-stroked-button [routerLink]="['/features']" routerLinkActive="active">Reintentar</button>
    </div>
  </div>