.holder {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: #FAFAFA;
}

.steps {
    text-align: center; // padding: 16pt 0;
}

@media (min-width: 992px) {
    .steps__inner {
        -js-display: flex;
        display: flex;
        justify-content: space-around;
    }
}

.step {
    // padding: 16pt 0;
    margin-top: calc(30vh - 200px);
    text-align: center;
    width: 100%;
    border-top: 1px solid #eee;
    overflow: auto;
}

.step:first-child {
    border-top: none;
}

@media (min-width: 992px) {
    .step {
        margin-top: calc(30vh - 200px);
        border-top: none;
        width: auto;
    }
}

.step__media {
    margin: 0pt 0;
}

@media (min-width: 992px) {
    .step__media {
        margin: 0pt 0;
    }
}

.step__image {
    max-height: 170px;
    max-width: 222px;
    margin-top: 8pt;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none; // user-drag: none;
}

@media (min-width: 600px) {
    .step__image {
        max-width: none;
    }
}

.step__text {
    max-width: 36ch;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.mat-progress-bar {
    width: 30% !important;
    margin-left: 35% !important;
}