<div class="loading-screen-wrapper" *ngIf="loadingSubscription | async">
  <!-- <div class="loading-screen-icon">
    Loading...
  </div> -->
  <div class="preloader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<!-- <div class="holder" *ngIf="loading">
  <div class="preloader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div> -->